* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.change-color-buttons-stop, .change-color-buttons-start {
  border-radius: 5;
  border: #212121, 3px, solid;
  background-color: #fafafa;
  padding: 30px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 200 0 0 500;
}

.change-color-buttons-stop{
  margin-left: 10px;
}